
@import "./presets" ;
@import "./colorVars";
@mixin flexLayout($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin row($direction) {
  justify-content: $direction;
}
@mixin col($direction) {
  align-items: $direction;
}
@mixin grid() {
  display: grid;
  place-items: center;
}

/* Media query for mobile view */
@media (max-width: 500px) {
  body {
    height: 19rem;
  }
  .header-primary {
    @include grid();
    padding-top: 1rem;
    color: hsl(0, 0%, 98%);
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    
  }
  .search-area {
    @include flexLayout(row);
    @include row(center);
    padding: .5rem 0;

    .search-box {
      height: 3rem;
    }
    #input-box {
      width: 17rem;
      border: transparent;
      border-top-left-radius: .6rem;
      border-bottom-left-radius: .6rem;
      background: hsl(0, 0%, 98%);
      color: hsl(0, 0%, 1%);
    }
    #submit-btn {
      width: 3rem;
      border: transparent;
      border-top-right-radius: .65rem;
      border-bottom-right-radius: .65rem;
      background: hsl(0, 0%, 3%);
      color: hsl(0, 0%, 98%);
    }
  }
  .main-area {
    @include flexLayout(column);
    @include col(center);
    width: 90%;
    border-radius: .6rem;
    padding: 1rem 0;
    position: absolute;
    left: 1rem;
    top: 19%;
    background: hsl(0, 0%, 98%);

    .main-content {
      @include flexLayout(column);
      @include col(center);
      line-height: .18;
      
      p {
        color: hsl(0, 0%, 30%);
        font-size: .7rem;
        font-weight: 700;
      }
    }
  }
}

/* Media query for desktop devices */
@media (min-width: 1021px) {
  .header-primary {
    @include grid();
    color: hsl(0, 0%, 98%);
    font-size: 1.8rem;
    font-weight: 600;
  }
}
//Styles for my  attributon goes here
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
