* {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1px solid red !important;
          order: 1px solid red !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 12rem;
  background: url(/images/pattern-bg.png) center no-repeat;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

/* Media query for mobile view */
@media (max-width: 500px) {
  body {
    height: 19rem;
  }
  .header-primary {
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding-top: 1rem;
    color: #fafafa;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .search-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0;
  }
  .search-area .search-box {
    height: 3rem;
  }
  .search-area #input-box {
    width: 17rem;
    border: transparent;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    background: #fafafa;
    color: #030303;
  }
  .search-area #submit-btn {
    width: 3rem;
    border: transparent;
    border-top-right-radius: .65rem;
    border-bottom-right-radius: .65rem;
    background: #080808;
    color: #fafafa;
  }
  .main-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    border-radius: .6rem;
    padding: 1rem 0;
    position: absolute;
    left: 1rem;
    top: 19%;
    background: #fafafa;
  }
  .main-area .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: .18;
  }
  .main-area .main-content p {
    color: #4d4d4d;
    font-size: .7rem;
    font-weight: 700;
  }
}

/* Media query for desktop devices */
@media (min-width: 1021px) {
  .header-primary {
    display: -ms-grid;
    display: grid;
    place-items: center;
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .search-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5rem 0;
  }
  .search-area .search-box {
    height: 2.8rem;
  }
  .search-area #input-box {
    width: 29rem;
    border: transparent;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    background: #fafafa;
    color: #030303;
    cursor: pointer;
  }
  .search-area #submit-btn {
    width: 3rem;
    border: transparent;
    border-top-right-radius: .65rem;
    border-bottom-right-radius: .65rem;
    background: #080808;
    font-weight: 600;
    color: #fafafa;
    cursor: pointer;
  }
  .main-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    width: 78%;
    border-radius: .6rem;
    padding: 1.5rem 0;
    position: absolute;
    left: 9rem;
    top: 24%;
    background: #fafafa;
  }
  .main-area .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 20rem;
    margin: 0 .8rem;
    text-align: left;
    line-height: .18;
  }
  .main-area .main-content p {
    color: #4d4d4d;
    font-size: .7rem;
    font-weight: 700;
  }
  .main-area .main-content:not(:last-child) {
    border-right: 1px solid gray;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */